rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write;
      // allow write: if false;
    }
    // // Allow user to only read Main Document
    // match /users/{userId} {
    //   allow read, write: if request.auth != null && request.auth.uid == userId
    // }

    // // Allow user to read and write his own data documents
    // match /users/{userId}/data/{documents=**} {
    //   allow read, write: if request.auth != null && request.auth.uid == userId
    // }
  }
}