@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: flex;
	justify-content: center;
	background-color: white;
}

.drag-item {
	z-index: 1;
}

.input {
	background-color: white;
}

.firebase-emulator-warning {
	display: none;
}