@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main: #ffcd4c;
}

body {
	display: flex;
	justify-content: center;
	background-color: white;
}

.btn {
	text-transform: uppercase;
}

.drag-item {
	z-index: 1;
}

.input {
	background-color: white;
}

.firebase-emulator-warning {
	display: none;
}
