@tailwind base;
@tailwind components;
@tailwind utilities;

.drag-item {
	z-index: 1;
}

.btn {
	height: 2.5rem;
	min-height: unset;
	background-color: white;
}

.firebase-emulator-warning {
	display: none;
}